<!DOCTYPE html>
<html>
<body>
    <title>Hello from Flask</title>
    {% if person %}
      <h1>Hello the person {{ person }}!</h1>
    {% else %}
      <h1>Hello, World!</h1>
    {% endif %}
    
<h2 style="background-color:LightGray;">Today's Homework!</h2>
<style>
        body {
            background-color: rgba(255, 99, 71, 0.5); 
        }
    </style>
<button type="button" onclick="alert('Geometery problem')" style="background-color:Tomato; width: 150px; height: 150px; font-size: 18px; padding:10px;">Math</button>

<button type="button" onclick="alert('Case Project')" style="background-color: Orange; width: 150px; height: 150px; font-size: 18px; padding: 10px;">History</button>   

<button type="button" onclick="alert('Reading the first chapter of the book')" style="background-color:DodgerBlue; width: 150px; height: 150px; font-size: 18px; padding: 10px;">English</button>
    </button>

<button type="button" onclick="alert('add a new homework')" style="background-color: MediumSeaGreen; width: 150px; height: 150px; font-size: 18px; padding: 10px;"> New</button>

</body>
</html>